.home-page{
    background-color: rgb(115, 105, 170);
    width: 100vw;
    height: 100vh;
}

.header{
background-color: rgb(214, 78, 123);  
position: static;  
left: 0;  
right: 0;   
height: 7vh;  
display: flex;  
align-items: center;  
box-shadow: 0 0 10px 0 rgb(161, 160, 160);  

}

header * {  
    display: inline;  
 }  
header li {  
margin: 20px;  
} 
.main{
    text-align: center;
    font-style: italic;
    font-size: 10vh;
} 
